body, html {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif; }

.dashboardContainer {
  width: 100%;
  height: auto; }
  .dashboardContainer .left {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #000;
    top: 0;
    left: 0; }
    .dashboardContainer .left h1 {
      color: #fff;
      padding: 1rem;
      padding-bottom: 0;
      margin-bottom: 0; }
    .dashboardContainer .left hr {
      width: 10%;
      border-color: #fff;
      margin-left: 0; }
    .dashboardContainer .left ul {
      padding: 1rem;
      list-style: none; }
      .dashboardContainer .left ul li {
        border-bottom: 1px dashed #ced7df;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem; }
        .dashboardContainer .left ul li a {
          text-decoration: none;
          color: #fff; }
      .dashboardContainer .left ul input[type=checkbox] {
        background: #f7f7f7;
        border: none; }
    .dashboardContainer .left form {
      width: 100%;
      padding: 1rem;
      justify-content: center;
      justify-items: center; }
      .dashboardContainer .left form .inputContainerSingle {
        width: 100%;
        display: block; }
      .dashboardContainer .left form input {
        width: 100%;
        height: auto;
        border: none;
        background: transparent;
        border-bottom: 1px solid #fff;
        color: #fff;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1rem; }
      .dashboardContainer .left form .inputContainerBtnSingle {
        width: 100%;
        text-align: right;
        margin-top: 0.5rem; }
        .dashboardContainer .left form .inputContainerBtnSingle .btnEntrar {
          background: transparent;
          color: #fff;
          border-radius: 10px 10px 10px 0;
          border: 1px solid #fff;
          width: auto;
          padding: 0.5rem; }
  .dashboardContainer .right {
    position: relative;
    width: calc(100% - 300px);
    margin-left: 300px;
    padding: 1rem;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center; }
    .dashboardContainer .right .containerCard {
      padding: 1rem;
      padding-bottom: 2rem;
      border-top: 2px solid #000;
      width: 400px;
      height: auto;
      background: #fff;
      -webkit-box-shadow: 0px 9px 60px -14px rgba(66, 66, 66, 0.28);
      -moz-box-shadow: 0px 9px 60px -14px rgba(66, 66, 66, 0.28);
      box-shadow: 0px 9px 60px -14px rgba(66, 66, 66, 0.28);
      float: left;
      margin: 1rem;
      border-radius: 0px 0px 30px 0; }
      .dashboardContainer .right .containerCard h1 {
        font-size: 1.5rem; }
      .dashboardContainer .right .containerCard ul {
        padding: 0;
        list-style: none; }
        .dashboardContainer .right .containerCard ul li {
          border-bottom: 1px dashed #ced7df;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem; }
          .dashboardContainer .right .containerCard ul li a {
            text-decoration: none;
            color: #000; }
        .dashboardContainer .right .containerCard ul input[type=checkbox] {
          background: #f7f7f7;
          border: none; }
    .dashboardContainer .right .btnConcluir {
      background: #5ecc62;
      color: #fff !important;
      border-radius: 5px 5px 5px 0;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      margin-left: 0.5rem; }
    .dashboardContainer .right .btnDelete {
      background: #e01f3d;
      color: #fff !important;
      border-radius: 5px 5px 5px 0;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      margin-left: 0.5rem;
      text-decoration: none; }
    .dashboardContainer .right .btnCadastrarNova {
      background: transparent;
      color: #000;
      border-radius: 10px 10px 10px 0;
      border: 1px solid #000;
      width: auto;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      text-decoration: none; }

#registerGroupTask h1 {
  color: #000;
  padding-bottom: 0;
  margin-bottom: 0;
  padding: 1rem;
  padding-bottom: 0; }
#registerGroupTask hr {
  width: 100%;
  border-color: #000;
  border-style: dashed;
  margin-left: 0; }
#registerGroupTask form {
  width: 100%;
  padding: 1rem;
  padding-top: 0;
  justify-content: center;
  justify-items: center; }
  #registerGroupTask form .inputContainerSingle {
    width: 100%;
    display: block; }
  #registerGroupTask form input {
    width: 100%;
    height: auto;
    border: none;
    background: transparent;
    border-bottom: 1px solid #000;
    color: #000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem; }
  #registerGroupTask form .inputContainerBtnSingle {
    width: 100%;
    text-align: right;
    margin-top: 0.5rem; }
    #registerGroupTask form .inputContainerBtnSingle .btnEntrar {
      background: transparent;
      color: #000;
      border-radius: 10px 10px 10px 0;
      border: 1px solid #000;
      width: auto;
      padding: 0.5rem; }

#editorGroupTask .titleTaskNameInput {
  width: calc(100% - 66px);
  float: left; }
  #editorGroupTask .titleTaskNameInput input {
    width: 100% !important; }
#editorGroupTask .btnTaskClass {
  width: 66px;
  float: right; }
  #editorGroupTask .btnTaskClass input {
    width: 100% !important; }
#editorGroupTask h1 {
  color: #000;
  padding-bottom: 0;
  margin-bottom: 0;
  padding: 1rem;
  padding-bottom: 0; }
#editorGroupTask hr {
  width: 100%;
  border-color: #000;
  border-style: dashed;
  margin-left: 0; }
#editorGroupTask ul {
  padding: 0;
  list-style: none; }
  #editorGroupTask ul li {
    border-bottom: 1px dashed #ced7df;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
    #editorGroupTask ul li a {
      text-decoration: none;
      color: red; }
    #editorGroupTask ul li span {
      width: 20px;
      float: left;
      font-size: 20px; }
#editorGroupTask form {
  width: 100%;
  padding: 1rem;
  padding-top: 0;
  justify-content: center;
  justify-items: center; }
  #editorGroupTask form .inputContainerSingle {
    width: 100%;
    display: block; }
  #editorGroupTask form input {
    width: calc(100% - 20px);
    height: auto;
    border: none;
    background: transparent;
    color: #000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem; }
  #editorGroupTask form .inputContainerBtnSingle {
    width: 100%;
    text-align: right;
    margin-top: 0.5rem; }
    #editorGroupTask form .inputContainerBtnSingle .btnPadrao {
      background: transparent;
      color: #000;
      border-radius: 10px 10px 10px 0;
      border: 1px solid #000;
      width: auto;
      padding: 0.5rem; }

#updateGroupTask h1 {
  color: #000;
  padding-bottom: 0;
  margin-bottom: 0;
  padding: 1rem;
  padding-bottom: 0; }
#updateGroupTask hr {
  width: 100%;
  border-color: #000;
  border-style: dashed;
  margin-left: 0; }
#updateGroupTask form {
  width: 100%;
  padding: 1rem;
  padding-top: 0;
  justify-content: center;
  justify-items: center; }
  #updateGroupTask form .inputContainerSingle {
    width: 100%;
    display: block; }
  #updateGroupTask form input {
    width: 100%;
    height: auto;
    border: none;
    background: transparent;
    border-bottom: 1px solid #000;
    color: #000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem; }
  #updateGroupTask form .inputContainerBtnSingle {
    width: 100%;
    text-align: right;
    margin-top: 0.5rem; }
    #updateGroupTask form .inputContainerBtnSingle .btnEntrar {
      background: transparent;
      color: #000;
      border-radius: 10px 10px 10px 0;
      border: 1px solid #000;
      width: auto;
      padding: 0.5rem; }

#registerTask h1 {
  color: #000;
  padding-bottom: 0;
  margin-bottom: 0;
  padding: 1rem;
  padding-bottom: 0; }
#registerTask hr {
  width: 100%;
  border-color: #000;
  border-style: dashed;
  margin-left: 0; }
#registerTask form {
  width: 100%;
  padding: 1rem;
  padding-top: 0;
  justify-content: center;
  justify-items: center; }
  #registerTask form .inputContainerSingle {
    width: 100%;
    display: block; }
  #registerTask form input {
    width: 100%;
    height: auto;
    border: none;
    background: transparent;
    border-bottom: 1px solid #000;
    color: #000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem; }
  #registerTask form .inputContainerBtnSingle {
    width: 100%;
    text-align: right;
    margin-top: 0.5rem; }
    #registerTask form .inputContainerBtnSingle .btnEntrar {
      background: transparent;
      color: #000;
      border-radius: 10px 10px 10px 0;
      border: 1px solid #000;
      width: auto;
      padding: 0.5rem; }

.btnpadrao {
  background: transparent;
  color: #000;
  border-radius: 10px 10px 10px 0;
  border: 1px solid #000 !important;
  width: auto;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important; }

.selectDefaultStyle {
  width: 100%;
  height: auto;
  background: #000;
  color: #fff;
  padding: 0.5rem;
  border: none; }

.LoginContainer {
  background: #000;
  background-image: url(../img/bg.png);
  position: relative;
  width: 100%;
  height: 100%;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center; }
  .LoginContainer .form {
    width: 400px;
    height: auto;
    padding: 1rem;
    border-radius: 20px 20px 20px 0;
    -webkit-box-shadow: 0px 10px 111px -12px #424242;
    -moz-box-shadow: 0px 10px 111px -12px #424242;
    box-shadow: 0px 10px 111px -12px #424242;
    background: #fff; }
    .LoginContainer .form .header {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1rem; }
      .LoginContainer .form .header .img {
        width: 100%;
        height: 40px;
        background-image: url(../img/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
    .LoginContainer .form .center {
      width: 100%; }
      .LoginContainer .form .center form {
        width: 100%;
        padding: 1rem;
        justify-content: center;
        justify-items: center; }
        .LoginContainer .form .center form .inputContainerSingle {
          width: 100%;
          display: block; }
        .LoginContainer .form .center form input {
          width: 100%;
          height: auto;
          border: none;
          border-bottom: 1px solid #000;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          font-size: 1rem; }
        .LoginContainer .form .center form .inputContainerBtnSingle {
          width: 100%;
          text-align: right;
          margin-top: 0.5rem; }
          .LoginContainer .form .center form .inputContainerBtnSingle .btnEntrar {
            background: #000;
            color: #fff;
            border-radius: 10px 10px 10px 0;
            border: 1px solid #000;
            width: auto;
            padding: 0.5rem; }
    .LoginContainer .form .footer {
      width: 100%; }

.tingle-enabled .tingle-content-wrapper {
  filter: blur(8px);
  position: absolute;
  top: 0;
  height: 100%; }

/*# sourceMappingURL=style.css.map */
